In [4]:
!pip install numpy
!pip install pandas

50.31s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Defaulting to user installation because normal site-packages is not writeable
Collecting numpy
  Using cached numpy-1.24.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
Installing collected packages: numpy
Successfully installed numpy-1.24.2

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: pip install --upgrade pip

60.46s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.0.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.3/12.3 MB 56.3 MB/s eta 0:00:0000:0100:01
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 67.9 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.21.0 in /home/elicer/.local/lib/python3.10/site-packages (from pandas) (1.24.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/elicer/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.3/502.3 kB 84.4 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in /home/elicer/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.0.0 pytz-2023.3 tzdata-2023.3

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: pip install --upgrade pip

In [5]:
import numpy as np
import pandas as pd

In [9]:
comp = pd.read_table('./korean_comp.txt', sep=' ', header = None)
comp

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,가,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
1,각,2,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
2,갂,3,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
3,갃,2,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
4,간,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11167,힟,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,NaN
11168,힠,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,NaN
11169,힡,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,NaN
11170,힢,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,NaN
11171,힣,0,0,0,0,0,2,0,0,0,...,1,0,0,0,0,0,0,0,0,NaN

In [16]:
char = comp[0]
char[0]

'가'

In [15]:
f = open('./total_kor.txt', 'w')

In [17]:
for c in char:
    f.write(c)
f.close()